asgiref==3.8.1
chardet==5.2.0
colorama==0.4.6
Django==5.1.2
django-admin-adminlte==1.0.8
django-adminlte3==0.1.6
django-allauth==65.2.0
django-appconf==1.0.6
django-compressor==4.5.1
django-crispy-forms==1.12.0
django-debug-toolbar==5.0.1
django-extensions==3.2.3
django-model-utils==5.0.0
django-widget-tweaks==1.5.0
djangorestframework==3.15.2
et_xmlfile==2.0.0
Faker==35.0.0
fontawesomefree==6.6.0
mysql-connector-python==9.1.0
mysqlclient==2.2.6
numpy==2.2.2
openpyxl==3.1.5
pandas==2.2.3
pillow==11.0.0
psycopg2==2.9.10
PyPDF2==3.0.1
python-dateutil==2.9.0.post0
pytz==2024.2
qrcode==8.0
rcssmin==1.1.2
reportlab==4.2.5
rjsmin==1.2.2
six==1.17.0
sqlparse==0.5.1
typing_extensions==4.12.2
tzdata==2024.2
