{% extends 'base.html' %}
{% block titre_page %} AFFICHAGE DES BANQUES {% endblock %}

{% block titre_cadre %}
AFFICHER UNE BANQUE
{% endblock %}

{% block formulaire %}

<form action="" method="GET" class="form-horizontal">

	{% csrf_token %}

	<div class="row">
		<div class="col-md-12">
			<div class="form-group">
				<label for="id_banque">ID de la Banque</label>
				<input type="text" id="id_banque" class="form-control" name="id_banque" value="{{infoBanque.id}}" readonly title="Identifiant de la Banque">
			</div>
		</div>
	</div>
	
	<div class="row">
		<div class="col-md-12">
			<div class="form-group">
				<label for="libelle_operation">Libelle de l'opération</label>
				<input type="text" id="libelle_operation" class="form-control" name="libelle_op" value="{{editer.libelle_operation}}" title="Le type d'opération">
			</div>		
		</div>	
	</div>

	<div class="row">
		<div class="col-md-12">
			<div class="form-group">
				<label for="type_operation">Type Opération</label>
				<input type="text" id="type_operation" class="form-control" name="type_opera" value="{{editer.type_operation}}" title="Le type d'opération">
			</div>		
		</div>	
	</div>

    <div class="row">
		<div class="col-md-12">
			<div class="form-group">
				<label for="date_operation">Date de l'opération</label>
				<input type="text" id="date_operation" class="form-control" name="date_operation" value="{{infoBanque.date_operation}}" readonly title="La date de l'opération">
			</div>		
		</div>	
	</div>


    <div class="row">
		<div class="col-md-12">
			<div class="form-group">
				<label for="montant">Montant</label>
				<input type="text" id="montant" class="form-control" name="montant" value="{{infoBanque.montant}}" readonly title="Le montant créditer">
			</div>		
		</div>	
	</div>

    <div class="row">
		<div class="col-md-12">
			<div class="form-group">
				<label for="numero_banque">Numero Bancaire</label>
				<input type="text" id="numero_banque" class="form-control" name="numero_banque" value="{{infoBanque.numero_banque}}" readonly title="Le numero Bancaire">
			</div>		
		</div>	
	</div>

    <div class="row">
		<div class="col-md-12">
			<div class="form-group">
				<label for="id_centre">Centre </label>
				<input type="text" id="id_centre" class="form-control" name="id_centre" value="{{infoBanque.id_centre}}" readonly title="Centre">
			</div>		
		</div>	
	</div>

	<div class="row">
		<div class="col-md-12">
			<div class="form-group">
				<a href="{% url 'listeCaisse' %}" class="btn btn-secondary btn-lg" title="Page précédente" target="_self">Retour &nbsp; <i class="fa fa-arrow-left"></i></a>
			</div>		
		</div>	
	</div>
</form>

{% endblock %}