{% extends 'base.html' %}

{% block titre_page %} ENREGISTREMENT DES UTILISATEURS {% endblock %}

{% load crispy_forms_tags %}

{% block titre_cadre %} AJOUTER UN NOUVEL UTILISATEUR {% endblock %}

{% block formulaire %}

        <form action="" method="POST" class="form-horizontal" enctype="multipart/form-data">

          {% csrf_token %}

          <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <i class="fas fa-user"></i>
                  {{ form.username | as_crispy_field }}
                </div>                
              </div>
          </div>

          <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <i class="fas fa-envelope"></i>
                  {{ form.email | as_crispy_field }}                  
                </div>                
              </div>
          </div>

          <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <i class="fas fa-lock"></i>
                  {{ form.password1 | as_crispy_field }}                  
                </div>                
              </div>
          </div>

          <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <i class="fas fa-lock"></i><br>
                  {{ form.password2 | as_crispy_field }}                  
                </div>                
              </div>
          </div>

          <div class="row">

              <div class="col-md-6">
                <div class="form-group">
                  {{ form.first_name | as_crispy_field }}
                </div>                
              </div>

              <div class="col-md-6">
                <div class="form-group">
                  {{ form.last_name | as_crispy_field }}
                </div>                
              </div>

          </div>


          <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <i class="fas fa-file"></i><br>
                  {{ form.photo_user | as_crispy_field }}                  
                </div>                
              </div>
          </div>
          
          <div class="col-md-8">
            <button type="submit" class="btn btn-success btn-lg">Ajouter &nbsp;<i class="fa fa-plus-circle"></i></button>
            <button type="reset" class="btn btn-warning btn-lg">Actualiser &nbsp;<i class="fa fa-refresh"></i></button>
            <a href="{% url 'listeutilisateur' %}" target="_blank" class="btn btn-primary btn-lg" title="Afficher la liste des utilisateurs">Liste utilisateurs</a>
          </div>
          
        
        </form>

{% endblock %}
