{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block titre_page %} GESTION DES BESOINS  {% endblock  %}

{% block titre_cadre %} ENREGISTRER UN BESOIN  {% endblock titre_cadre %}

{% block formulaire %}

<form action = "" method="POST" class="form-horizontal">
    {% csrf_token %}
    <div class="form-group">
        {{form|crispy}}
    </div>
    <div class="form-group">
        <div class="text-center">
            <button type="submit" class="btn btn-success bt-sm">Enregistrer &nbsp;<i class="fa-solid fa-save"></i></button>
            <button type="reset" class="btn btn-warning bt-sm">Annuler &nbsp;<i class="fa-solid fa-refresh"></i></button>
            <a href="{% url 'listebesoin' %}" class="btn btn-secondary bt-sm" title="Page précédente" target="_self">Voir liste &nbsp; <i class="fa fa-arrow-left"></i></a>
        </div>
    </div>
    
</form>
{% endblock %}