{% extends 'base.html' %}
{% block titre_page %} AFFICHAGE DES BESOINS {% endblock %}

{% block titre_cadre %}
MODIFIER  UN BESOIN
{% endblock %}

{% block formulaire %}

<form action="{% url 'modifierbesoin' infoBesoin.id %}" method="POST" class="form-horizontal" enctype="=multipart/form-data">

	{% csrf_token %}

	<div class="row">
		<div class="col-md-12">
			<div class="form-group">
				<label for="id_besoin">ID</label>
				<input type="text" id="id_besoin" class="form-control" name="idbesoin" value="{{infoBesoin.id}}" readonly title="Identifiant du besoin">
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="form-group">
				<label for="iddescription">Description du Besoin</label>
				<input type="text" id="iddescription" class="form-control" name="description_bes" value="{{infoBesoin.description_bes}}"  title="La description du besoin">
			</div>		
		</div>	
	</div>

    <div class="row">
		<div class="col-md-12">
			<div class="form-group">
				<label for="idtype">Le type</label>
				<input type="text" id="idtype" class="form-control" name="tybes" value="{{infoBesoin.type_bes}}"  title="Le type du besoin">
			</div>		
		</div>	
	</div>

    <div class="row">
		<div class="col-md-12">
			<div class="form-group">
				<label for="idcentre">Centre concerné</label>
				<input type="text" id="idcentre" class="form-control" name="id_centre_id" value="{{infoBesoin.id_centre.id}}" title=" Centre concerné" readonly>
			</div>		
		</div>	
	</div>

	<div class="row">
		<div class="col-md-12">
			<div class="form-group">
                <button type="submit" class="btn btn-info bt-sm">MODIFIER  &nbsp;<i class="fa-solid fa-edit"></i></button>
				<a href="{% url 'listebesoin' %}" class="btn btn-secondary bt-sm" title="Page précédente" target="_self">Retour &nbsp; <i class="fa fa-arrow-left"></i></a>
			</div>		
		</div>	
	</div>
</form>

{% endblock %}