{% extends 'base.html' %}
{% block titre_page %} EDITION DES CENTRES {% endblock %}

{% block titre_cadre %}
MODIFICATION D'UN CENTRE
{% endblock %}

{% block formulaire %}

<form action="{% url 'modificationCentre'  infoCentre.id %}" method="POST" class="form-horizontal" enctype="multipart/form-data">

	{% csrf_token %}

	<div class="row">
		<div class="col-md-12">
			<div class="form-group">
				<label for="id_centre">ID du Centre</label>
				<input type="text" id="id_centre" class="form-control" name="id_centre" value="{{infoCentre.id}}" readonly title="Identifiant du Centre">
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-12">
			<div class="form-group">
				{% if infoCentre.logo %}
				<a href="{{infoCentre.logo.url}}" target="_blank" title="Logo du centre"><img src="{{infoCentre.logo.url}}" width ="20%", height="20%"></a>	
				{% else %}
				<label for="id_centre">Logo Indisponible</label>
				{% endif %}
				<input type="file" id="id_logo" class="form-control" name="logo" title="Importer le logo">
				
			</div>
		</div>
	</div>
	
	<div class="row">
		<div class="col-md-12">
			<div class="form-group">
				<label for="nom_centre">Raison Sociale</label>
				<input type="text" id="nom_centre" class="form-control" name="nom_centre" value="{{infoCentre.raison_sociale}}" title="Le nom du Centre">
			</div>		
		</div>	
	</div>

    <div class="row">
		<div class="col-md-12">
			<div class="form-group">
				<label for="contact1">Contact 1</label>
				<input type="text" id="contact1" class="form-control" name="contact1" value="{{infoCentre.contact1}}" title="Le contact1 du Centre">
			</div>		
		</div>	
	</div>

    <div class="row">
		<div class="col-md-12">
			<div class="form-group">
				<label for="contact2">Contact 2</label>
				<input type="text" id="contact2" class="form-control" name="contact2" value="{{infoCentre.contact2}}" title="Le contact 2 du Centre">
			</div>		
		</div>	
	</div>

    <div class="row">
		<div class="col-md-12">
			<div class="form-group">
				<label for="email">E-mail du Centre</label>
				<input type="text" id="email" class="form-control" name="email" value="{{infoCentre.email}}" title="E-mail du Centre">
			</div>		
		</div>	
	</div>

    <div class="row">
		<div class="col-md-12">
			<div class="form-group">
				<label for="localisation">Localisation du Centre </label>
				<input type="text" id="localisation" class="form-control" name="localisation" value="{{infoCentre.localisation}}" title="La localisation du Centre">
			</div>		
		</div>	
	</div>

    <div class="row">
		<div class="col-md-12">
			<div class="form-group">
				<label for="responsable">Responsable du Centre</label>
				<input type="text" id="responsable" class="form-control" name="responsable" value="{{infoCentre.responsable}}" title="Responsable du Centre">
			</div>		
		</div>	
	</div>
    <div class="row">
		<div class="col-md-12">
			<div class="form-group">
				<label for="date_creation">Date de création</label>
				<input type="text" id="date_creation" class="form-control" name="date_creation" value="{{infoCentre.date_creation |date:'Y-n-j'}}" title="La date de création">
			</div>		
		</div>	
	</div>

	<div class="row">
		<div class="col-md-12">
			<div class="form-group">
				<label for="capacite">Capacité d'accueil</label>
				<input type="text" id="capacite" class="form-control" name="capacite" value="{{infoCentre.capacite}}" title="la capacité d'accueil">
			</div>		
		</div>	
	</div>

	<div class="row">
		<div class="col-md-12">
			<div class="form-group">
				<button type="submit" class="btn btn-info bt-sm">Modifier &nbsp;<i class="fa-solid fa-edit"></i></button>
				<a href="{% url 'listecentre' %}" class="btn btn-secondary btn-lg" title="Page précédente" target="_self">Retour &nbsp; <i class="fa fa-arrow-left"></i></a>
			</div>		
		</div>	

	</div>
</form>

{% endblock %}